USE [master]
GO
/****** Object:  Database [tienda]    Script Date: 6/05/2019 12:53:41 ******/
CREATE DATABASE [tienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tienda', FILENAME = N'/var/opt/mssql/data/tienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tienda_log', FILENAME = N'/var/opt/mssql/data/tienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tienda]
GO
USE [tienda]
GO
/****** Object:  Table [dbo].[tbcategoria]    Script Date: 6/05/2019 12:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcategoria](
	[idcat] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbcategoria] PRIMARY KEY CLUSTERED 
(
	[idcat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbgastos]    Script Date: 6/05/2019 12:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbgastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tbgastos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbproducto]    Script Date: 6/05/2019 12:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbproducto](
	[idp] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[preferencia] [int] NOT NULL,
	[idcate] [int] NOT NULL,
 CONSTRAINT [PK_tbproducto] PRIMARY KEY CLUSTERED 
(
	[idp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbcategoria] ADD  CONSTRAINT [DF_tbcategoria_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[tbproducto]  WITH CHECK ADD  CONSTRAINT [FK_tbproducto_tbcategoria] FOREIGN KEY([idcate])
REFERENCES [dbo].[tbcategoria] ([idcat])
GO
ALTER TABLE [dbo].[tbproducto] CHECK CONSTRAINT [FK_tbproducto_tbcategoria]
GO
USE [master]
GO
